<template>

<div class="filters-container w-6/12 bg-white bg-opacity-70 rounded-b-4xl fixed top-0 pt-3 pb-5 px-4 z-50">
    <div class="filters w-full flex justify-between items-center mb-5">
        <div class="input-group w-4/12">
            <div class="w-full text-center text-gray-700 mb-1">Settlement:</div>
            <v-select class="w-9/12 block text-sm mx-auto bg-white bg-opacity-60 rounded-full py-0.5 px-3" v-model="settlement" :options="settlements" @input="changeSettlementOrStreet"></v-select>
        </div>
        <div class="input-group w-4/12">
            <div class="w-full text-center text-gray-700 mb-1">Street:</div>
            <v-select class="w-9/12 block text-sm mx-auto bg-white bg-opacity-60 rounded-full py-0.5 px-3" v-model="street" :options="streets" @input="changeSettlementOrStreet"></v-select>
        </div>
        <div class="input-group w-4/12">
            <div class="w-full text-center text-gray-700 mb-1">House number:</div>
            <v-select class="w-9/12 block text-sm mx-auto bg-white bg-opacity-60 rounded-full py-0.5 px-3" v-model="house_number" :options="house_numbers"></v-select>
        </div>
    </div>
    <div class="w-4/12 mx-auto">
        <button class="w-9/12 block text-sm mx-auto bg-telenor-blue text-gray-100 bg-opacity-60 rounded-full py-0.5 px-3" @click="submit">Submit</button>
    </div>
</div>

</template>

<script>

export default {
    data() {
        return {
            cell: {},
            settlement: null,
            street: null,
            house_number: null,
            cells: [
                {
                    settlement: 'Beograd (Novi Beograd)',
                    street: 'Bulevar Zorana Đinđića',
                    house_number: '1238',
                    longitude: 20.41177,
                    latitude: 44.81872,
                    cell_id: 1531,
                    available_tariff: 'Kućni internet 100',
                    cell_comment: 'Ova ćelija zahteva proširenje za 2 meseca.',
                    cell: {
                        longitude: 20.41307,
                        latitude: 44.81901,
                        arrow: 'left',
                        color: 'yellow'
                    }
                },
                {
                    settlement: 'Beograd (Karaburma)',
                    street: 'Ulica Višnjička',
                    house_number: '368',
                    longitude: 20.509371,
                    latitude: 44.81789, 
                    cell_id: 4212,
                    available_tariff: 'Kućni internet 150',
                    cell_comment: 'Ćelija funkcioniše optimalno.',
                    cell: {
                        longitude: 20.51006,
                        latitude: 44.81714,
                        arrow: 'top',
                        color: 'green'
                    }
                },
                {
                    settlement: 'Beograd (Stari grad)',
                    street: 'Ulica Kraljice Natalije',
                    house_number: '31',
                    longitude: 20.4605,
                    latitude: 44.8102,
                    cell_id: 5553,
                    available_tariff: 'Nismo u mogućnosti da ponudimo paket',
                    cell_comment: 'Ova ćelija zahteva hitno proširenje.',
                    cell: {
                        longitude: 20.45975,
                        latitude: 44.81045,
                        arrow: 'right',
                        color: 'red'
                    }
                },
            ],
        }
    },
    computed: {
        settlements: function() {
            if(this.street == null)
            return this.cells.map(function(item) {
                return item.settlement;
            });
            else
            return this.cells.filter((item) => {
                return item.street == this.street;
            }).map((item) => {
                return item.settlement;
            })
        },
        streets: function() {
            if(this.settlement == null)
            return this.cells.map(function(item) {
                return item.street;
            })
            else
            return this.cells.filter((item) => {
                return item.settlement == this.settlement;
            }).map((item) => {
                return item.street;
            })
        },
        house_numbers: function() {
            if(this.settlement != null && this.street != null)
            return this.cells.filter((item) => {
                return (item.settlement == this.settlement) && (item.street == this.street)
            }).map((item) => {
                return item.house_number;
            })
        }
    },
    methods: {
        submit() {
            this.cell = this.cells.filter((item) => {
                return (item.settlement == this.settlement) && (item.street == this.street) && (item.house_number == this.house_number)
            })[0];
            window.Event.$emit('submit-filters', this.cell);
            window.Event.$emit('set-coordinate', this.cell);
        },
        changeSettlementOrStreet() {
            this.house_number = null;
        }
    }
}

</script>

<style>

.filters-container {
    left:25%;
}

.vs__dropdown-toggle {
    border: unset;
    border-radius: unset;
    padding: unset;
}

.vs__selected-options {
    flex-basis: unset;
    flex-grow: unset;
    padding: unset;
    width: 85%;
}

.vs__selected {
    border: unset;
    border-radius: unset;
    margin: unset;
    padding: unset;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vs__search, .vs__search:focus {
    margin: unset;
}

.vs__actions {
    padding: unset;
}



</style>