<template>

<div class="w-full h-full">
    <OpenLayersMap/>
    <Logo/>
    <Filters/>
    <Results/>
</div>

</template>

<script>

import OpenLayersMap from '../maps/OpenLayersMap.vue'
import Logo from './Logo.vue'
import Filters from './Filters.vue'
import Results from './Results.vue'

export default {
    components: {
        OpenLayersMap, Filters, Logo, Results
    }
}
</script>

<style>

* {
    outline: none;
}

</style>