<template>

<div class="logo py-3 px-6 bg-white bg-opacity-50 rounded-r-4xl fixed left-0">
    <img src="/images/ibis_logo.png" class="h-12">
</div>

</template>

<style>

.logo {
    top: 10px;
}

</style>