<template>

<div class="results-container fixed left-0 w-96 bg-white bg-opacity-70 rounded-r-4xl pt-4 z-50">
    <div class="w-full" v-if="cell">
        <div class="info px-4 mb-3">
            <div class="text-lg text-gray-700 font-semibold">{{cell.street}}, {{cell.house_number}}</div>
            <div class=" text-gray-700 pl-1">{{cell.settlement}}</div>
        </div>
        <div class="h-0.5 w-6/12 bg-telenor-blue mb-3"></div>
        <div class="results text-gray-700">
            <div class="font-semibold px-4 mb-3">Network data for selected location:</div>
            <div class="result-group px-4 mb-2">
                <div class="text-lg">Cell ID:</div>
                <div class="font-semibold">{{cell.cell_id}}</div>
            </div>
            <div class="long-lat px-4 flex items-center mb-2">
                <div class="result-group mr-4">
                    <div class="text-lg">Longitude:</div>
                    <div class="font-semibold">{{cell.longitude}}</div>
                </div>
                <div class="result-group px-4">
                    <div class="text-lg">Latitude:</div>
                    <div class="font-semibold">{{cell.latitude}}</div>
                </div>
            </div>
            <div class="result-group px-4 mb-8">
                <div class="text-lg">Comment:</div>
                <div class="font-semibold">{{cell.cell_comment}}</div>
            </div>
            <div class="tarrif-container">
                <div class="text-lg px-4 font-semibold">Available Tariff:</div>
                <div class="h-0.5 w-5/12 bg-telenor-blue mb-3"></div>
                <div class="text-xl px-4 font-bold">{{cell.available_tariff}}</div>
            </div>
        </div>
        <button class="mt-14 w-48 mx-auto block text-sm mx-auto bg-telenor-blue text-gray-100 bg-opacity-60 rounded-full py-0.5 px-3">Send to CRM</button>
    </div>
    <div class="w-full mt-2" v-else>
        <div class="w-full text-gray-700 text-lg text-center">No selected location</div>
        <div class="w-full font-semibold text-gray-700 text-center">Please select location for results.</div>
    </div>
</div>

</template>

<script>

export default {
    data() {
        return {
            cell: null
        }
    },
    mounted() {
        window.Event.$on('submit-filters', (cell) => {
            this.cell = cell;
        })
    }
}

</script>

<style>

.results-container {
    height: 66.66vh;
    top: 20vh;
}

</style>