<template>
  <div>
    <div id="map"><select id="layer-select" style="position:absolute;z-index:100; left:0; bottom:0; visibility:hidden;">
       <option value="Aerial">Aerial</option>
       <option value="AerialWithLabelsOnDemand" selected>Aerial with labels</option>
       <option value="RoadOnDemand">Road</option>
       <option value="CanvasDark">Road dark</option>
       <option value="OrdnanceSurvey">Ordnance Survey</option>
     </select></div>
    <Spinner v-if="isLoading"/>
  </div>
</template>
<script>
/* eslint-disable */
// import openlayer css for style

import Spinner from '../spinner/Spinner.vue'

import 'ol/ol.css';
import BingMaps from 'ol/source/BingMaps';
import Map from 'ol/Map';
import TileLayer from 'ol/layer/Tile';
import View from 'ol/View';
import {Icon, Style, Fill, Text, Stroke} from 'ol/style';
import Feature from 'ol/Feature';
import Point from 'ol/geom/Point';
import {Vector as VectorLayer} from 'ol/layer';
import {Vector as VectorSource} from 'ol/source';

export default {
  components: {
    Spinner
  },
  data() {
    return {
      isLoading: false,
      map: {},
      center: [20.4612, 44.8125],
      zoom: 14
    }
  },
  async mounted() {
    await this.initiateMap();
    window.Event.$on('set-coordinate', (cell) => {
      if(cell)
      {
        var cell_id_position = {
          left: {
            x: -50,
            y: 65
          },
          top: {
            x: 0,
            y: -65
          },
          right: {
            x: 50,
            y: 65
          }
        }


        this.isLoading = true;
        this.map.getView().setCenter([cell.longitude-0.0002, cell.latitude]);
        this.map.getView().setZoom(19);
  
        var markerIconStyle = new Style({
            image: new Icon({
              scale: 0.5,
              src: '/images/marker.png',
            }),
          });

        var cellIconStyle = new Style({
            image: new Icon({
              scale: 0.25,
              src: `/images/${cell.cell.arrow}_${cell.cell.color}_cell.png`,
            }),
            text: new Text({
              text: ''+cell.cell_id,
              scale: 1.8,
              offsetX: cell_id_position[cell.cell.arrow].x,
              offsetY: cell_id_position[cell.cell.arrow].y,
              fill: new Fill({
                color: "#fff"
              }),
              stroke: new Stroke({
                color: "0",
                width: 3
              })
            })
          });
  
          var markerFeature = new Feature({
            geometry: new Point([cell.longitude, cell.latitude]),
          });

          var cellFeature = new Feature({
            geometry: new Point([cell.cell.longitude, cell.cell.latitude]),
          });
  
          markerFeature.setStyle(markerIconStyle);
          cellFeature.setStyle(cellIconStyle);
  
          var markerSource = new VectorSource({
            features: [markerFeature],
          });

          var cellSource = new VectorSource({
            features: [cellFeature],
          });
  
          var markerVector = new VectorLayer({
            source: markerSource,
            name: 'marker'
          });

          var cellVector = new VectorLayer({
            source: cellSource,
            name: 'cell'
          });
  
        var layers_for_remove = []
        this.map.getLayers().forEach(layer => {
          if (layer && (layer.get('name') === 'marker' || layer.get('name') === 'cell')) {
            layers_for_remove.push(layer);
          }
        });
        layers_for_remove.forEach(item => {
          this.map.removeLayer(item);
        })
        this.map.addLayer(markerVector)
        this.map.addLayer(cellVector)
        this.isLoading = false;
      }
      else
      {
        this.map.getView().setCenter([20.4612, 44.8125]);
        this.map.getView().setZoom(14);

        var layers_for_remove = []
        this.map.getLayers().forEach(layer => {
          if (layer && (layer.get('name') === 'marker' || layer.get('name') === 'cell')) {
            layers_for_remove.push(layer);
          }
        });
        layers_for_remove.forEach(item => {
          this.map.removeLayer(item);
        })
      }
    })
  },
  methods: {
    initiateMap() {
      this.isLoading = true;
      const styles = [
        'RoadOnDemand',
        'Aerial',
        'AerialWithLabelsOnDemand',
        'CanvasDark',
        'OrdnanceSurvey',
      ];
      const layers = [];
      let i, ii;
      for (i = 0, ii = styles.length; i < ii; ++i) {
        layers.push(
          new TileLayer({
            visible: false,
            preload: Infinity,
            source: new BingMaps({
              key: 'AqgaLg4W4GWwKGYm2EVO6ToW2TcDjiq3xohGbNmyd4A6VBqh8Y9BC-Ya7l4WJ_CJ',
              imagerySet: styles[i],
              // use maxZoom 19 to see stretched tiles instead of the BingMaps
              // "no photos at this zoom level" tiles
              // maxZoom: 19
            }),
          })
        );
      }
      this.map = new Map({
        layers: layers,
        target: 'map',
        view: new View({
          projection: 'EPSG:4326',
          center: this.center,
          zoom: this.zoom,
        }),
      });

      this.isLoading = false;

      const select = document.getElementById('layer-select');
      function onChange() {
        const style = select.value;
        for (let i = 0, ii = layers.length; i < ii; ++i) {
          layers[i].setVisible(styles[i] === style);
        }
      }
      select.addEventListener('change', onChange);
      onChange();
          },
        },
      };
</script>
<style>
body {
    overflow: hidden;

}
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#map {
  position: fixed; 
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.ol-zoom {
  left: unset;
  right: .5em;
}

</style>